---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "UTF-8";

// Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:        #111;
$header-background: #191E28;
$background-color:  #FDFDFD;
$main-color:        #C52025;
$main-color-light:  lighten($main-color, 15%);
$main-color-dark:   darken($main-color, 15%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$small-media-break: 767px;

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
//   @media screen and (max-width: $device) {
//     @content;
//   }
// }


// Import partials from `sass_dir` (defaults to `_sass`)
@import 'normalize';


html, body {
  margin: 0;
  height: 100%;
}

html {
  font-family: "Roboto";
  font-weight: 100;
  overflow-y: scroll;
  max-width: 1590px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

.header-wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  background-image: url('/images/blurred-code.png');
  background-position: center 0%;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.logo {
  max-width: 16em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-nav ul {
  margin-top: 2em;

  li {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;

    &:not(:first-child) {
      margin-left: 3em;
    }

    a {
      color: $background-color;
      text-decoration: none;

      &:hover {
        border-bottom: solid 0.05em #fff;
      }
    }
  }
}

footer {
  background-color: $main-color;
  font-family: "Roboto", sans-serif;
  color: $background-color;
  padding-top: 1.5em;
  padding-bottom: 0.3em;

  @media (min-width: $small-media-break) {
    // This allows links to be full width for mobile
    padding-left: 5em;
    padding-right: 5em;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;

    @media (min-width: $small-media-break) {
      flex-direction: row;
    }
  }

  .copyright {
    font-size: 1.2em;
    font-weight: 300;
  }

  .footer-nav {
    width: 100%;
    max-width: 500px;

    @media ($small-media-break) {
      align-self: right;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    @media (max-width: $small-media-break) {
      li + li {
        margin-top: 1.25em;
      }
    }

    @media (min-width: $small-media-break) {
      flex-direction: row;
    }

    li {
      flex-grow: 1;
      display: flex;

      @media (min-width: $small-media-break) {
        li:not(:first-child) {
          margin-left: 3em;
        }
        display: inline-block;
      }

      a {
        flex-grow: 1;
        color: $background-color;
        text-decoration: none;

        @media (min-width: $small-media-break) {
          &:hover {
            border-bottom: solid 0.05em #fff;
          }
        }
      }
    }
  }
}

#site-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5.8em;
}

.footer-push {
  height: 5.8em;
}

.post-link {
  transition: color .1s;
  color: $main-color-dark;

  &:hover {
    color: $main-color-light;
  }
}

.post-title {
  text-align: center;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.post-content {
  margin-left: 20vw;
  margin-right: 20vw;
}

.post {
  margin-bottom: 5em;
}

.post-meta {
  font-weight: bold;
}

td:first-child {
  padding-right: 3em;
}

table {
  width: 100%;

  tr td ul {
    list-style-type: none;
  }
}

ul.members {
  margin-top: 0;

  li {
    margin-left: 1em;
  }
}

// Remove Firefox's dotted outline on buttons and links
//   http://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links
:focus { outline: none; }
::-moz-focus-inner { border: 0; }
