<h2>Meet Our Team</h2>
<p>
  Aside from contributing to Fairview's website, our team members are actively
  engaged in a wide range of pursuits. You can connect with some of us through
  our portfolio sites below.
</p>
<div class="gallery">
  <div class="gallery-row">
    <a href="http://gernene.com" target="_blank" class="gallery-box gtan"><div>Gernene</div></a>
    <a href="http://kylepfromer.com" target="_blank" class="gallery-box kpfromer"><div>Kyle</div></a>
    <a href="http://noahfiner.com" target="_blank" class="gallery-box nfiner"><div>Noah</div></a>
  </div>
</div>
