<header class="app-header" id="app-header">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo">
        <img src="/images/logo.png">
      </div>

      <nav class="main-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/history/">History</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
