<header class="app-header" id="app-header">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo">
        <a href="/"><img src="/images/logo.png"></a>
      </div>

      <nav class="main-nav">
        <!-- <div id="hamburger" onclick="toggleHamburger('change', '#menu-list', this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div> -->
        <ul id="menu-list">
          <li><a href="/">About</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/history/">History</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/join/">Join Us</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- <script>
    function toggleHamburger(hamburgerClassName, siblingToFind, element) {
      document.querySelector(siblingToFind).classList.toggle(hamburgerClassName);
      element.classList.toggle(hamburgerClassName);
    }
  </script> -->
</header>
